[submodule "submodules/bash-concurrent"]
	path = submodules/bash-concurrent
	url = https://github.com/themattrix/bash-concurrent
[submodule "submodules/optparse"]
	path = submodules/optparse
	url = https://github.com/nk412/optparse
